.banner {
    width: 100%;
    position: relative;
}
.background-banner img {
    width: 100%;
}
.info-banner-wrapper {
    width: 780px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
}
.info-title h1 {
    font-size: 144px;
    font-weight: 700;
}
.info-title p {
    font-size: 36px;
}
.info-title button {
    width: 170px;
    height: 70px;
    font-size: 36px;
    background: #008EDE;
    outline: none;
    color: #fff;
    margin-top: 50px;
    border: none;
    transition: .2s ease-in-out;
}
.info-title button:hover {
    background: none;
    color: #008EDE;
    border: 3px solid #008EDE;
}

@media only screen and (max-width: 1440px) {
    .info-banner-wrapper {
        width: 600px;
    }
    .info-title h1 {
        font-size: 110px;
    }
    .info-title p {
        font-size: 28px;
    }
    .info-title button {
        width: 160px;
        height: 60px;
        font-size: 28px;
    }
}

@media only screen and (max-width: 1200px) {
    .info-banner-wrapper {
        width: 490px;
    }
    .info-title h1 {
        font-size: 90px;
    }
    .info-title p {
        font-size: 22px;
    }
    .info-title button {
        width: 140px;
        height: 50px;
        font-size: 22px;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 1040px) {
    .info-banner-wrapper {
        width: 440px;
    }
    .info-title h1 {
        font-size: 70px;
    }
    .info-title p {
        font-size: 20px;
    }
    .info-title button {
        width: 120px;
        height: 45px;
        font-size: 20px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 950px) {
    .info-banner-wrapper {
        left: 34%;
    }
}
@media only screen and (max-width: 850px) {
    .info-banner-wrapper {
        width: 390px;
    }
    .info-title h1 {
        font-size: 56px;
    }
    .info-title p {
        font-size: 18px;
    }
    .info-title button {
        width: 100px;
        height: 40px;
        font-size: 18px;
        margin-top: 24px;
    }
}
@media only screen and (max-width: 720px) {
    .info-banner-wrapper {
        width: 300px;
    }
    .info-title h1 {
        font-size: 44px;
    }
    .info-title p {
        font-size: 16px;
    }
    .info-title button {
        font-size: 16px;
        width: 95px;
        margin-top: 20px;
    }
    .info-title button:hover {
        border: 2px solid #008EDE;
    }
}
@media only screen and (max-width: 560px) {
    .info-banner-wrapper {
        width: 220px;
    }
    .info-title p {
        font-size: 14px;
    }
    .info-title button {
        font-size: 14px;
        width: 80px;
        height: 34px;
        margin-top: 18px;
    }
}
@media only screen and (max-width: 430px) {
    .info-banner-wrapper {
        width: 210px;
    }
    .info-title h1 {
        font-size: 36px;
    }
    .info-title button {
        font-size: 14px;
        width: 70px;
        height: 30px;
        margin-top: 14px;
    }
    .info-title button:hover {
        border: 1px solid #008EDE;
    }
}
@media only screen and (max-width: 375px) {
    .info-banner-wrapper {
        width: 200px;
    }
    .info-title h1 {
        font-size: 30px;
    }
    .info-title p {
        font-size: 12px;
    }
    .info-title button {
        font-size: 12px;
        width: 60px;
        height: 26px;
        margin-top: 14px;
    }
}

.bg-show-product1 {
    background: #d4d4d4;
    width: 100%;
}
#airpump {
    max-width: 100%;
}
.wrapper-info-product {
    width: 100%;
}
.container-info-product {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5rem auto;
    justify-items: center;
}
.list-info-product {
    text-align: center;
    margin: 2rem 0;
}
@media only screen and (max-width: 1080px) {
    .container-info-product {
        grid-template-columns: 1fr 1fr;

    }
}
@media only screen and (max-width: 550px) {
    .container-info-product {
        grid-template-columns: 1fr;
    }
}
.wrapper-display-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.wrapper-display-product img {
    width: 100%;
}
.info-display-product {
    margin: auto;
    text-align: center;
}
.info-display-product h2 {
    font-weight: 400;
    font-size: 36px;
}
@media only screen and (max-width: 1140px) {
    .info-display-product h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 900px) {
    .info-display-product h2 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 700px) {
    .info-display-product h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .info-display-product h2 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 390px) {
    .info-display-product h2 {
        font-size: 12px;
    }
}
.banner2-product {
    display: block;
    width: 100%;
}