:root {
    --primary: #DD5C3C;
}
.color[color="black"]{
    background-color: #DD5C3C;
    border-color: #DD5C3C;
}
.color[color="blue"]{
    background-color: #FFCC81;
    border-color: #FFCC81;
}
.color[color="green"]{
    background-color: #d4d4d4;
    border-color: #d4d4d4;
}
