.wrapper-navbar {
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    /* left: 0;
    right: 0;
    top: 0; */
}
ul.navbar-menu {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 22px;
    padding-left: 2rem;
    font-weight: 600;
}
ul.navbar-menu li {
    margin-left: 2rem;
}
ul.navbar-menu li a {
    color: #000;
    text-decoration: none;
    transition: .2s;
    padding: 0 5px;
}
ul.navbar-menu li:hover a {
    background: #fff;
    border-radius: 100px;
}

.hamburger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 24px;
    display: none;
    z-index: 4;
    cursor: pointer;
}
.bg-navbar-close {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 9;
    display: none;
    transition: .2s;
}
@media only screen and (max-width: 1080px) {

    .hamburger {
        display: block;
        background: #fff;
        padding: 0 10px;
        border-radius: 4px;
        z-index: 10;
    }
    .wrapper-navbar {
        width: 280px;
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: -300px;
        height: 100vh;
        background: #fff;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, .2);
        transition: .2s;
    }
    ul.navbar-menu {
        flex-direction: column;
        align-items: flex-start;
        line-height: 50px;
        margin-top: 2rem;
    }
    ul.navbar-menu li {
        margin-left: 0;
    }
}